@using PredictorProject.Models
@model PlateNumberModel

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>



@if (ViewBag.alert != "")
{

    <b>@ViewBag.alert</b>
    
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="container">
        <div class="centered title"><h1>Welcome to "Pico y Placa" predictor</h1></div>
    </div>
    <hr class="featurette-divider">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="tab-content">
                    <div id="stripe" class="tab-pane fade in active">
                        <script src='https://js.stripe.com/v2/' type='text/javascript'></script>
                        <div style="margin:0;padding:0;display:inline"><input name="utf8" type="hidden" value="✓" /><input name="_method" type="hidden" value="PUT" /><input name="authenticity_token" type="hidden" value="qLZ9cScer7ZxqulsUWazw4x3cSEzv899SP/7ThPCOV8=" /></div>
                        <br>

                        <div class='form-row'>
                            <div class='form-group required'>
                                <label class='control-label'>Plate Number</label>
                                @Html.TextBoxFor(m => m.plate, new { @class = "form-control card-number", @size = "20", @type = "text" })
                                @Html.ValidationMessageFor(m => m.plate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label class='control-label'>Date To Check</label>
                                @Html.TextBoxFor(m => m.dateToCheck, new { @class = "form-control", @type = "date" })
                                @Html.ValidationMessageFor(m => m.dateToCheck, "", new { @class = "text-danger ", @size = "20", @type = "text" })
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <label class='control-label'>Time To Check</label>
                                @Html.TextBoxFor(m => m.timeToCheck, new { @class = "form-control", @type = "time" })
                                @Html.ValidationMessageFor(m => m.timeToCheck, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class='form-row'>
                            <div class='form-group'>
                                <label class='control-label'></label>

                                <button class='form-control btn btn-primary' type='submit'> Verify →</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

           
            <div class="col-sm-6">
                <label class='control-label'></label><!-- spacing -->

                <div class="jumbotron jumbotron-flat">
                    <img style="width:100%" src="~/Images/pico_placa.JPG" />
                </div>
                <br><br><br>
            </div>
        </div>
    </div>
}


